---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
  display: inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax";

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.cta-wrapper {
  width: 100%;
  text-align: center;
  margin: 3em 0;

  .cta {
    border-radius: 4px;
    background-color: #209cee;
    border-color: transparent;
    color: #fff;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    transition: 0.5s all;

    &:hover {
      text-decoration: underline;
      background-color: darken(#209cee, 10%);
      text-decoration: none;
    }

    @media screen and (min-width: 500px) {
      padding: 0.5em 2em;
      font-size: 3rem;
    }
  }
}

.warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1.5rem;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
}

.home-template .main-header:not(.post-head) {
  $bg-color: #05668d;
  $text-color: #f0f3bd;

  padding: 0;

  .main-nav {
    a.subscribe-button {
      color: $text-color;
      border-color: $text-color;
      background-color: $bg-color;
      transition: all 0.1s ease;

      &:hover {
        color: darken($text-color, 20%);
        background-color: rgba(black, 0.2);
      }
    }
  }

  .vertical {
    background-color: $bg-color;

    @media only screen and (max-width: 500px) {
      .inner {
        margin: 3rem auto;
      }
    }

    h1,
    h2 {
      color: $text-color;
    }

    a {
      color: $text-color;

      &:hover {
        color: darken($text-color, 20%);
      }
    }
  }
}
